.login-form {
    margin-top:10%; 
    margin-left: 30%;
    height: 90vh;
    width: 40%;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.regi-form {
    margin-left:30%; 
    margin-top:10%;
    width: 40%;
    height: 90vh;
}

.user-layout {
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
}

.user-descriptions-layout {
    margin-left: 5%;
    margin-right: 2%;
}

.user-schedule-layout {
    background-color: #fafafa;
    height: 100%;
}

.user-header {
    background: #eafce7;
}

.user-descriptions {
    background: #fafafa;
}

.user-posts {
    position: relative;
    background: #fafafa;
    padding-left: 22%;
}

.user-course-disscusion-menu {
    position: relative;
    padding-left: 35%;
}

.user_timeline{
    display:flex;
    justify-content:center;
    background-color: #ffffff;
}