.coursepage-layout {
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
}

.coursepage-header {
    background: #eafce7;
}

.coursepage-descriptions {
    background: #fafafa;
}

.coursepage-options {
    background: #eafce7;
    padding-left: 35%;
}

.coursepage-notifs, .coursepage-posts {
    position: relative;
    background: #fafafa;
    padding-left: 22%;
}

.coursepage-notifs-item {
    padding: 3%;
    width: 70%;
    background: #fafafa;
    box-shadow: 5px 5px 10px #000000;
}